@import "@styles/vars.scss";

.weatherCard {
    &:hover {
        background-color: rgba(0, 0, 0, .02);
        cursor: pointer;
    }

    img {
        width: 40px;
        height: 40px;

        @media (max-width: 860px) {
            width: 30px;
            height: 30px;
        }
    }

    .city {
        font-weight: bold;
    }

    .temperature {
        font-weight: 300;
        font-size: 18px;

        @media (max-width: 860px) {
            font-size: 16px;
        }
    }
}