.cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media (max-width: 990px) {
        gap: 5px;
    }

    img {
        max-width: 40px;
        max-height: 40px;

        @media (max-width: 990px) {
            max-width: 25px;
            max-height: 25px;
        }
    }
}

.card{
    :global(.ant-card-head){
        @media(max-width: 550px) {
            padding: 0 10px;
            min-height: 35px;
        }
    }

    :global(.ant-card-body){
        @media(max-width: 550px) {
            padding: 2px 5px !important;
        }
    }
}