@import '@styles/vars';

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.error_message{
    height: 24px;
    color: $red;
}

.input_field{
    width: 100%;
}