@import "@styles/vars";

.burger{
    width: 25px;
    height: 25px;

    svg{
        width: 100%;
        height: 100%;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.burgerBody{
    position: fixed;
    background: #000;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 70%;
    max-height: 100%;
    border-left: 1px solid $gray;
    background-color: #fff;
    transform: translateX(1000%);
    transition: 0.2s transform;
}

.active {
    transform: translateX(0%);
}

.burgerHeader{
    padding: 15px;

    span{
        width: 25px;
        height: 25px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.burgerContent {
    padding: 25px;
    overflow-y: auto;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    max-height: 80%;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.1);
}