@import "@styles/vars.scss";

.cards {
    max-height: 625px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cardHeader {
    padding: 15px 0px;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}