.weatherPage{
    padding: 20px 200px;
    display: flex;

    @media (max-width: 1430px) {
        padding: 20px 100px;
    }

    @media (max-width: 1100px) {
        padding: 20px 50px;
    }

    @media (max-width: 650px) {
        padding: 10px 20px;
    }
}